runs
weights.pt
.ipynb_checkpoints
data
data
Drone Videos
downloaddata.py
downloader.py
fiftyone donload.py
Test_Img.jpg
Marine-Debris-1
Trained_Weights.pt
yolov10n.pt
yolov10s.pt
processed
uploads
stitchdata
test.py
weights2.pt
frames
src/k.mp4
src/tracking.mp4
src/Track
k.mp4
count
weights
src/tracking_info