/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #007BFF;
    padding: 20px 0;
    color: white;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
}

nav ul li a i {
    margin-right: 8px;
}

nav ul li a:hover {
    color: #ffdd57;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 2em;
    transition: color 0.3s ease;
}

h1:hover {
    color: #007BFF;
}

h2 {
    color: #555;
    margin-top: 30px;
    font-size: 1.5em;
}

form {
    margin-bottom: 30px;
}

.input-text {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    border: 2px solid #007BFF;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.input-text:focus {
    border-color: #0056b3;
}

.input-file {
    display: block;
    margin: 20px auto;
    padding: 10px;
    border: 2px dashed #007BFF;
    border-radius: 10px;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.input-file:hover {
    border-color: #0056b3;
    background-color: #f0f8ff;
}

.btn {
    padding: 10px 20px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

.form-section {
    margin-bottom: 30px;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.2em;
    }

    h2 {
        font-size: 1em;
    }

    .btn {
        padding: 8px 16px;
        font-size: 0.9em;
    }
}
